html, body, p {
    margin: 0;
    background-image: url('../images/pattern.png');
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.header {
    min-height: 15%;
    align-items: center;
}

.header-logo img {
    height: 50px;
    width: 130px;
    padding: 20px 20px;
    position: absolute;
}

.header-title {
    text-align: center;
    padding-top: 30px;
}

.header-title p {
    font-weight: bolder;
    color: #050052;
    font-size: x-large;
}

.footer {
    min-height: 20%;
    text-align: center;
}

.btn-home {
    width: 200px;
    display: inline-block;
    background-color: #E1B000;
    color: #050052;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 0 15px 0;
}

.btn-home:hover {
    opacity: 70%;
}

.menu-wrapper {
    min-height: 63%;
    /* border: 1px solid black; */
    text-align: center;
}

.btn-menu {
    text-align: center;
    width: 35%;
    background-color: #050052;
    color: #E1B000;
    border-radius: 8px;
    font-size: 35px;
    cursor: pointer;
    padding: 50px;
    margin: 20px 20px;
    display: inline-block;
}

.btn-menu:hover {
    color: #050052;
    background-color: #E1B000;
}